{# [[ header_text ]] #}
{% extends "layout.html" %}

{% block content %}
  <div class="page-head">
    <div>
      <h1>[[ spec.title ]]</h1>
      {% if description %}<p class="muted">{{ description }}</p>{% endif %}
    </div>
    {% if new_url %}<a class="btn btn-primary" href="{{ new_url }}">New [[ spec.singular_title ]]</a>{% endif %}
  </div>
  {% include "partials/table.html" %}
{% endblock %}
